body,
html {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

a:focus {
  background: red;
}

ul {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  height: 100px;

  li {
    list-style: none;
    display: inline;

    a {
      display: block;
      float: left;
      padding: 5px;
    }
  }
}